@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;   /* Example: Light blue */
    --secondary-color: #2ecc71; /* Example: Light green */
    --accent-color: #e74c3c;    /* Example: Red */
    --background-color: #42a1b9; /* Example: Light gray */
    --text-color: #2c3e50;      /* Example: Dark gray */
  }
header {
    margin: 2px;
  }
nav {
    position: relative;
    margin: 70px;
    border: none;
    /*background-color: rgb(183, 196, 196);*/
    padding: 10px;
    float: right;
}

nav a {
    margin-right: 100px;
    text-decoration: underline;
}

h1 {
    position: absolute;
    left: 120px;
}

body {
    max-width: 1300px;
    padding: 0px;
    margin: 0px;
    margin: auto;
    background-color: antiquewhite;
  }

  main {
    max-width: 840px;
  }

.box {
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #947f93;
    color: #333;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 1rem;
}

footer a {
    margin-left: auto;
}

footer img {
    width: 24px; /* Adjust the value as needed for appropriate size */
    height: 24px; /* Ensure aspect ratio is maintained */
    margin-left: 2rem; /* Optional: spacing between icons */
}

.hero img {
    display: block;
    width: 72%;
    height: auto;
  }

  article img {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/*footer {
    margin: 15px;
    border: 1px solid #000;
}

footer a {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

a img {
    margin-right: 1rem; 
}

/*footer a img {
    margin-right: 5rem;
    position: relative;
}*/