@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--primary-color: #3498db;   
--secondary-color: #2ecc71; 
--accent-color: #e74c3c;   
--background-color: #42a1b9; 
--text-color: #2c3e50;     
}

header {
    margin: 2px;
}

nav {
    position: relative;
    margin: 70px;
    border: none;
    background-color: rgb(183, 196, 196);
    padding: 10px;
    float: right;
}

nav a {
    margin-right: 100px;
    text-decoration: underline;
}

h1 {
    position: absolute;
    left: 120px;
}

body {
    max-width: 1300px;
    padding: 0px;
    margin: 0px auto;  
    background-color: antiquewhite;
}

main {
    max-width: 840px;
    margin: 2px;
}

.box {
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #947f93;
    color: #333;
}

footer p {
    margin: 1rem;
}

footer img {
    width: 24px; 
    height: 24px;
    margin-left: 2rem; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }
