/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-color: #333;
    --secondary-color: #555;
    --accent1-color: #f9f9f9;
    --accent2-color: #ccc;
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    --nav-background-color: #333;
    --nav-link-color: white;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #555;
}

/* Body styles */
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    background-color: #838d79;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Header styles */
header {
    padding: 10px 0;
    background-color: var(--nav-bg-color);
    color: white;
    text-align: center;
}

header img {
    width: 50px;
    vertical-align: middle;
}

/* Paragraph styles */
p {
    padding: 10px 0;
}

/* Navigation styles */
nav {
    background-color: var(--nav-bg-color);
    text-align: center;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 0;
    display: inline-block;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-bg-color);
    text-decoration: underline;
}